* {
  box-sizing: border-box;
}

::selection {
  background: #333333;
  color: #fff;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  color: $primary-text-color;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-size: 1rem;
  font-family: $primary-font-family;
  font-weight: 400;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
  font-family: $secondary-font-family;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.17rem;
}
h5 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83em;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover, &:focus{
    text-decoration: underline;
    outline: none;
  }

  .avoid-color-conflict & {
    color: white;
  }
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5em;
  & + & {
    margin-top: 8px;
  }
}

ul {
  margin: 0;
  padding-left: 0; 
  list-style: none;
  
  > li {
    font-size: 1rem;
     
    &::before {
      content: "-";
      margin-right: 0.75em;
    }

  }
  > li + li {
    margin-top: 8px;
  }


}



@include scrollbars(.5em, #929292);
