<head>
    <meta charset="utf-8">
    <title>{{ page.title | 'Home' }} | {{ site.title | escape }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700|Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="/dist/styles/main.css?v=20180920a">

    {% include google_analytics.html %}
</head> <!-- /head -->
