<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- entity -->
    <title>{{ page.title | 'Home' }} | {{ site.title | escape }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- meta -->
    <meta name="description" content="{{ site.description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Luís Silva - Full-Stack Developer">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="https://luism-s.github.io/">
    <meta property="og:site_name" content="luism-s.github.io">

    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700|Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="/dist/styles/main.css?v=20180920a">

    {% include google_analytics.html %}
</head> <!-- /head -->
