
<aside class="site-sidebar avoid-color-conflict" id="site-sidebar">

  <a href="/"><div class="photo-icon"></div></a>
  <nav class="site-navbar">
    <ul>
      <li><a href="/" class="js-menu-item reset-link">Me</a></li>
      <li class="{% if page.slug == "work" %}active{% endif %}"><a href="/work" class="js-menu-item reset-link">Work</a></li>
      <li class="{% if page.slug == "curriculum" %}active{% endif %}"><a href="/curriculum" class="js-menu-item reset-link">Curriculum</a></li>
      <li class="{% if page.slug == "contacts" %}active{% endif %}"><a href="/contacts" class="js-menu-item reset-link">Contacts</a></li>
    </ul>
  </nav>
  
</aside> <!-- /sidebar -->
