
<aside class="site-sidebar avoid-color-conflict" id="site-sidebar">

  <a class="photo-icon-wrapper" href="/"><div class="photo-icon"></div></a>

  <div class="site-navbar-wrapper" id="site-navbar-wrapper">
    <nav class="site-navbar" id="site-navbar">
      <ul>
        <li><a href="/" class="js-menu-item reset-link">Me</a></li>
        <li class="{% if page.slug == "work" %}active{% endif %}"><a href="/work" class="js-menu-item reset-link">Work</a></li>
        <li class="{% if page.slug == "curriculum" %}active{% endif %}"><a href="/curriculum" class="js-menu-item reset-link">Curriculum</a></li>
        <li class="{% if page.slug == "contacts" %}active{% endif %}"><a href="/contacts" class="js-menu-item reset-link">Contacts</a></li>
      </ul>
    </nav>
  </div>
  
</aside> <!-- /sidebar -->
