.portfolio {
  background: $color-two;
  color: white;
  z-index: 2;
  margin-bottom: 100vh;
  overflow-x: hidden;
  padding-bottom: 50px;
  
  .header {
    color: black;
  }
  
}
.works {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  //@include breakpoint-lock(column, row, flex-direction);
}
.work {
  @include breakpoint-lock(50%, 33.333%, width);
  display: inherit;
  
  &-preview {
    @include breakpoint-lock(75px, 100px, height, 400px);
    @include breakpoint-lock(100px, 180px, height);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-align: center;

    .shadow {    
      transition: all 0.2s linear;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      height: 0;
    }

    &:hover {
      & .work-preview__title {
        opacity: 1;
        z-index: 1;
      }
      .shadow {
        background-color: $color-one;
        height: 100%;
      }
    }
    &:hover &__img {

    }
    &__title {
      position: absolute;    
      margin: auto;
      left: 0;
      right: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      opacity: 0;
      transition: all .3s ease;
      font-weight: 100;
      font-size: 1rem;
    }
  }

  &-showcase {
      
    left: -100%;
    right: 100%;
    z-index: 2;
    transition: all .4s cubic-bezier(.45,.05,.55,.95);
    width: 100%;
    text-align: left;
    background-color: white;
    margin: 0 auto;
    box-sizing: border-box;

    @include breakpoint-lock(15px, 15px 35px 35px, padding);
    @include breakpoint-lock(fixed, absolute, position);
    @include breakpoint-lock(initial, 750px, max-width);
    @include breakpoint-lock(0, 20%, top);
    @include breakpoint-lock(auto, initial, overflow-y);
    @include breakpoint-lock(100%, auto, height);
    
    &__body {
      @include breakpoint-lock(initial, flex, display);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 0 10px 0;

    }
    
    &--shown {
      left: 0;
      right: 0;
    }
  }

  &-details {

    @include breakpoint-lock(15px 0px, 0px 15px, margin);
    font-size: 13px;
    flex: 1;
    display: flex;
    flex-direction: column;
    
    &__title {
      font-size: 1em;
      margin: 0;
      font-weight: 400;

      &::after {
        content: '';
        width: 100%;
        display: block;
        height: 1px;
        background: rgba(0,0,0,.75);
        margin: 7px 0;
      }
      &--sub {
        font-size: 0.85em;
        align-self: flex-end;
      }
    }
    &__description {
      margin: 1em 0;
      font-size: 0.95em;
    }
    &__footer {
      margin: 10px 0;
      font-size: 0.85em;
    }
    &__link {
      position: relative;
      &::before {
        content:'';
        @include square(10px, 10px);
        display: inline-block;
        background-image: url('/dist/images/icons/link.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 5px;
      }
      &::after {
        content: '';
        background-color: #6f6f6f;
        width: 0;
        position: absolute;
        bottom: -3px;
        left: 15px;
        height: 1px;
        transition: width 0.1s linear;
      }
      &:hover::after {
        width: calc(100% - 15px);
      }
    }
    &, a {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
.dimmed_background {
  position: fixed;
  background: rgba(0, 0, 0, 0.28);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  &--active {
    display: block;
    opacity: 1;
  }
}
