@charset "UTF-8";

@font-face {
  font-family: "contacts";
  src:url("/dist/fonts/contacts.eot");
  src:url("fonts/contacts.eot?#iefix") format("embedded-opentype"),
    url("/dist/fonts/contacts.woff") format("woff"),
    url("/dist/fonts/contacts.ttf") format("truetype"),
    url("/dist/fonts/contacts.svg#contacts") format("svg");
  font-weight: normal;
  font-style: normal;

}