a {
  &, &:hover, &:focus{
    text-decoration: none;
    outline: none;
  }
}
img {
  width: 100%;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: calc(1920px * 0.95);
}
html {
  font-size: 13px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.333rem;
}
h3 {
  font-size: 2.6667rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.833rem;
}
h6 {
  font-size: 1.6667rem;
}

html {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
}