body {
    font-size: 10pt;
}

a {
    &, &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: calc(1920px * 0.95);
}
