.sidebar-main-wrapper {
  display: flex;
}
.main-footer-wrapper {
  flex: 1;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.site-main {
  max-width: calc(512px + 64px * 2);
  padding-top: 95px;
  padding-right: 64px;
  padding-bottom: 128px;
  padding-left: 64px;
}

.site-section {
  &:not(:last-of-type) {
    margin-bottom: 64px;
  }
}

.site-footer {
  text-align: center;
}
