.sidebar-main-wrapper {
  display: flex;
}
.main-footer-wrapper {
  flex: 1;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-main {
  max-width: 1024px;
  padding-top: calc(64px - 2rem/2);
  padding-right: 64px;
  padding-bottom: 128px;
  padding-left: 64px;
}


.site-footer {
  text-align: center;
}
