.site-navbar {
  
  margin-top: 64px;

  ul {
    margin: 0;
  }
  ul > li {
    display: flex;
    align-items: center;
    position: relative;
  
    transition: transform 0.15s ease-in-out;

    &::before, 
    &::after {
      content: "";
      margin: 0;
      width: 4px;
      height: 1px;
      position: absolute;
      background-color: white;
      left: 0;
      transform-origin: right center;
      transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
    }
    &::before {
      transform: translate3d(calc( -100% - 0.75em ), 0 , 0) rotateZ(45deg);
    }
    &::after {
      transform: translate3d(calc( -100% - 0.75em ), 0 , 0) rotateZ(-45deg);
    }
    &:hover, 
    &.active {
      &::before,
      &::after {
        transform: translate3d(calc( -100% - 0.75em ), 0, 0);
        opacity: .75;
      }
      transform: translate3d(5px,0,0);
    }
    
    > a {
      width: 100%;
      padding: 4px 0;
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-decoration: none;
    }
  }
  ul > li + li {
    margin-top: 16px;
  }
}
