.site-sidebar {
  width: 256px;
  min-height: 100vh;
  padding-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $primary-color;
  color: white;

  .photo-icon {
    width: 128px;
    height: 128px;

    background-image: url("../images/eu.jpg");
    background-size: 165%;
    background-position: center top;
    background-repeat: no-repeat;
  }
}

@media (max-width: $bkp-small-max) {
  .site-sidebar {
    position: relative;

    &.-collapsed {
      width: 128px;
      
      .photo-icon {
        width: 64px;
        height: 64px;
      }

      .site-navbar > ul > li {
        &.active {
          transform: initial;
        }
        &::before, 
        &::after {
          content: initial;
        }
      }
    }
  }
}
