.button {
  cursor: pointer;
  &__close {

    font-size: 12px;
    width: 1em;
    position: relative;
    @include min-md {
      
    }
    &:hover {
      
      &::after {
        transform: rotate(-45deg);
      }
      &::before {
        transform: rotate(45deg);
      }
    }

    &::after, &::before {
      content: '';
      width: 1px;
      height: 1em;
      background: #333;
      font-weight: bold;
      display: inline-block;
      transform-origin: center center;
      transition: transform 0.2s linear;
      position: relative;
    }

    &::after {
      transform: rotate(45deg);
      right: calc(-0.5em + 1px);
    }

    &::before {
      transform: rotate(-45deg);
      right: -0.5em;
    }
  }


  &__navigation {

    font-size: 15px;
    width: 1em;
    display: inline-block;
    text-align: center;
    transition: background 0.1s linear, color 0.1s linear;

    &:hover {
      background-color: rgba(#333, 0.9);
      &::after {
        color: #fff;
      }
    }


    &::after {
      content: '•';
      color: #333;
      line-height: 1em;
    }
    &--left {

      &::after {
        content: '<';
      }
    }
    &--right {

      &::after {
        content: '>';
      }
    }

    &--inactive {
      &, &:hover {
        background-color: initial;
        cursor: initial;
        &::after {
          color: rgba(#333, 0.5);
        }
      }
    }
  }
}
