$device-height: 300px;

$phone-ratio: 0.666;
$phone-height: $device-height;
$phone-width: $phone-height * $phone-ratio;

$desktop-ratio: 1.777;
$desktop-height: $device-height;
$desktop-width: $desktop-height * $desktop-ratio;

$device-border-width: 7px;
$device-border-bottom-width: 43px;


$device-color: #3e3e3e;

.device {
    display: inline-block;
    margin: 0 15px;

    .frame {
        background-color: $device-color;
        overflow-y: scroll;
        width: 100%;
        height: 100%;

        
        border: $device-border-width solid;
        border-bottom: $device-border-bottom-width solid;
        border-color: $device-color;
        border-radius: 2px;

        img {
            width: 100%;
        } 
    }
}
.phone {

    width: $phone-width; 
    height: $phone-height;
}
.desktop {
    width: $desktop-width; 
    height: $desktop-height;
}




@media (max-width: 800px) {

    .device .frame {
        border-bottom: initial;
        border: 5px solid $color-white;    
        border-radius: 0;
        border-color: $color-white;
    }
    .phone {
        display: none;
    }

    .desktop {
        height: 220px;
        width: 100%;
        position: relative;
        left: -20px;
    }
}