            
.icon {
    font-family: "contacts" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    @media (min-width: 300px) {
        display: inline-block;
    }
    
    &-mail:before {
        content: "\61";
    }
    &-github:before {
        content: "\62";
    }
    &-linkedin:before {
        content: "\63";
    }
}