.contacts {
  background: $color-four;
  color: $color-one;
  z-index: 1;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  

  &__list {
    background: white;
    padding: 55px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -75%);
  }

}

.contact {
  margin: 0 2px;
  padding: 15px 8px;

  &:hover {
    .contact__link {
      height: initial;
      width: 140px;
      opacity: 1;
      &--short {
        width: 125px;
      }
      &--large {
        width: 175px;
      }
    }
  }
  &__icon, 
  &__link {
    vertical-align: middle;
  }
  
  &__icon {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    margin: 0 5px;
  }
  &__link {
    opacity: 0;  
    text-align: left;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.7s ease, opacity 0.2s ease;
    
    a {
      color: black;
    }
  }
}