.contacts {
  background: $color-four;
  color: black;
  z-index: 1;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  @include min-md {
    flex-direction: row;
  }
  
  .header {
    flex: 1;
    @include min-md {
      flex: 2;
    }
    margin: 0;
  }
  &__list {
    background: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    flex: 3;
    @include min-md {
      flex: 1;
    }
    flex-direction: column;
    margin: 0;
  }

}

.contact {
  margin: 5px 2px;
  padding: 15px 8px;

  &:hover {
    .contact__link {
      height: initial;
      width: 140px;
      opacity: 1;
      &--short {
        width: 125px;
      }
      &--large {
        width: 175px;
      }
    }
  }
  &__icon, 
  &__link {
    vertical-align: middle;
  }
  
  &__icon {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    margin: 0 5px;
  }
  &__link {
    opacity: 0;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.7s ease, opacity 0.2s ease;
    
    a {
      color: black;
    }
  }
}