section.presentation {
    background: $blue;
    color: white;
    z-index: 2;
    margin-bottom: 100vh;
    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        .header {      
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 22pt;
        }

    }
}