section.presentation {
    background: $color-one;
    color: white;
    z-index: 2;
    margin-bottom: 100vh;
    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        .header {      
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 22pt;
            .name, .profession {
                opacity: 0;
            }
            .name {
                @include fadeIn(0.5s);
            }
            .profession {
                @include fadeIn(0.75s, 0.5s);
            }
        }

    }
}