// Breakpoints
$bkp-xsmall: 480px;
$bkp-small: 768px;
$bkp-medium: 960px;
$bkp-large: 1024px;
$bkp-xlarge: 1280px;

$bkp-xxsmall-max: ($bkp-xsmall - 1) !default;
$bkp-xsmall-max: ($bkp-small - 1) !default;
$bkp-small-max: ($bkp-medium - 1) !default;
$bkp-medium-max: ($bkp-large - 1) !default;
$bkp-large-max: ($bkp-xlarge - 1) !default;

// Fonts
$text-font-family: 'Work Sans', Arial, sans-serif;
$heading-font-family: 'Raleway', monospace, sans-serif;

$text-line-height: 1.41421356237em;

// Colors
$primary-color: #1a4374;
$primary-text-color: #333333;

// Headings
$header-top-padding: 16px;